* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

header {
  background: url("img/jess-bailey-l3N9Q27zULw-unsplash.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: 60% 100%;
     object-position: 60% 100%;
  -o-object-position: right;
     object-position: right;
  height: 100vh;
}

.nav-item {
  padding: 20px;
}

.nav-item a {
  color: black;
  text-decoration: none;
  font-size: 1.2rem;
  font-family: 'Kanit', sans-serif;
}

.nav-item a:hover {
  color: #FF6666;
  border-bottom: 1px solid tomato;
}

.dropdown-menu {
  background: url("img/Royal Blue.jpg");
}

.dropdown-menu a {
  color: white;
}

.dropdown-menu a:hover {
  color: red;
}

.element {
  margin-top: 10%;
  text-align: center;
  color: tomato;
}

.btn:hover {
  background: black;
  font-size: 1.1rem;
  color: white;
  width: 20%;
}

.para {
  margin-right: 23%;
  margin-left: 23%;
  color: black;
}

/* Dropdown Button */
.dropbtn {
  color: black;
  padding: 16px;
  font-size: 1.2rem;
  border: none;
  text-decoration: none;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
  font-family: 'Kanit', sans-serif;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 190px;
  -webkit-box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
  background-color: black;
  color: white;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
  border-bottom: 1px solid tomato;
  text-decoration: none;
  color: tomato;
}

@media (max-width: 980px) {
  header {
    height: 140vh;
  }
  .navbar {
    border-bottom: 1px solid tomato;
  }
  .dropdown {
    margin-top: 38px;
    margin-left: 4px;
    margin-bottom: 20px;
  }
}

.carousel-control-prev-icon {
  background-color: crimson;
}

.carousel-control-next-icon {
  background-color: crimson;
}

.carousel-item img {
  -o-object-fit: cover;
     object-fit: cover;
}

.carousel-item img:hover {
  opacity: .6;
}

.carousel-caption {
  color: black;
}

.para1 {
  color: blanchedalmond;
}

.para0 {
  color: black;
}

.jumbotron {
  background: #121717;
  color: #DEEAE4;
}

.mio1 {
  border-right: 1px solid salmon;
  -webkit-animation-name: emad1;
          animation-name: emad1;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-timing-function: ease-in;
          animation-timing-function: ease-in;
  -webkit-animation-iteration-count: 3;
          animation-iteration-count: 3;
}

.mio2 {
  border-right: 1px solid salmon;
}

.bittext {
  color: #EF4816;
  margin-bottom: 3%;
}

.bittext1 {
  color: #7F61DD;
  margin-bottom: 3%;
}

.justicetext {
  letter-spacing: 3px;
}

.display-3 {
  -webkit-animation: emad 1s  infinite;
          animation: emad 1s  infinite;
  font-weight: bold;
}

@-webkit-keyframes emad {
  0% {
    padding: 0px;
  }
  100% {
    margin-top: 5px;
    color: cyan;
  }
}

@keyframes emad {
  0% {
    padding: 0px;
  }
  100% {
    margin-top: 5px;
    color: cyan;
  }
}

.jiopagla {
  background: url("img/Moonlit Asteroid.jpg");
  height: 120vh;
}

.nowio {
  margin-top: 15%;
  color: white;
}

.emadimg img {
  position: absolute;
  margin-top: 35%;
  height: 70vh;
  width: 95vh;
  right: 13%;
}

@media (max-width: 980px) {
  .jiopagla {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 100%;
    width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .emadimg img {
    position: relative;
    margin-top: 5%;
    height: 70vh;
    width: 49vh;
    left: -55%;
  }
}

@media (max-width: 300px) {
  .emadimg img {
    position: relative;
    margin-top: 4%;
    height: 50vh;
    width: 35vh;
    left: -80%;
  }
}

.jiopagla1 {
  background: url("img/Deep Space.jpg");
  height: 120vh;
}

.shimuimg img {
  position: absolute;
  margin-top: 35%;
  height: 80vh;
  width: 65vh;
  right: 13%;
  -o-object-fit: cover;
     object-fit: cover;
}

@media (max-width: 980px) {
  .jiopagla1 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .shimuimg img {
    position: relative;
    margin-top: 5%;
    height: 60vh;
    width: 45vh;
    left: -10%;
  }
}

@media (max-width: 300px) {
  .shimuimg img {
    position: relative;
    margin-top: 2%;
    height: 58vh;
    width: 85vw;
    left: -20%;
  }
}

.jiopagla2 {
  background: url("img/Lawrencium.jpg");
  height: 120vh;
}

.tareqimg img {
  position: absolute;
  margin-top: 35%;
  height: 70vh;
  width: 90vh;
  right: 17%;
}

@media (max-width: 980px) {
  .jiopagla2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .tareqimg img {
    position: relative;
    margin-top: 2%;
    height: 75vh;
    width: 48vh;
    left: -30%;
  }
}

@media (max-width: 300px) {
  .tareqimg img {
    position: relative;
    margin-top: 5%;
    height: 60vh;
    width: 40vw;
    left: -40%;
  }
}

.jiopagla3 {
  background: url("img/Red Ocean.jpg");
  height: 120vh;
}

.turjoimg img {
  position: absolute;
  margin-top: 35%;
  height: 80vh;
  width: 65vh;
  right: 17%;
}

@media (max-width: 980px) {
  .jiopagla3 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .turjoimg img {
    position: relative;
    margin-top: 0%;
    height: 60vh;
    width: 45vh;
    left: -40%;
  }
}

@media (max-width: 300px) {
  .turjoimg img {
    position: relative;
    margin-top: 0%;
    height: 60vh;
    width: 35vw;
    left: -20%;
  }
}

.jiopagla4 {
  background: url("img/ServQuick.jpg");
  height: 120vh;
}

.susanimg img {
  position: absolute;
  margin-top: 35%;
  height: 80vh;
  width: 85vh;
  right: 17%;
}

@media (max-width: 980px) {
  .jiopagla4 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .susanimg img {
    position: relative;
    margin-top: 2%;
    height: 70vh;
    width: 49vh;
    left: -40%;
  }
}

@media (max-width: 300px) {
  .susanimg img {
    position: relative;
    margin-top: 5%;
    height: 40vh;
    width: 85vw;
    left: -20%;
  }
}

.jiopagla6 {
  background: url("img/Pinot Noir.jpg");
  height: 120vh;
}

.opuimg img {
  position: absolute;
  margin-top: 25%;
  height: 75vh;
  width: 49vh;
  right: 17%;
}

@media (max-width: 980px) {
  .jiopagla6 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .opuimg img {
    position: relative;
    margin-top: 0%;
    height: 70vh;
    width: 40vh;
    left: -30%;
  }
}

@media (max-width: 300px) {
  .opuimg img {
    position: relative;
    margin-top: 0%;
    height: 60vh;
    width: 85vw;
    left: -30%;
  }
}

.bestde {
  font-size: 1.8rem;
}

.jio8 {
  background: url("img/jess-bailey-l3N9Q27zULw-unsplash.jpg");
}

.outs {
  font-size: 2.5rem;
  -webkit-animation: wow 1s infinite;
          animation: wow 1s infinite;
}

@-webkit-keyframes wow {
  0% {
    color: cyan;
  }
  20% {
    color: darkmagenta;
  }
  40% {
    color: deeppink;
  }
  100% {
    color: tomato;
  }
}

@keyframes wow {
  0% {
    color: cyan;
  }
  20% {
    color: darkmagenta;
  }
  40% {
    color: deeppink;
  }
  100% {
    color: tomato;
  }
}
/*# sourceMappingURL=style.css.map */